html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }  

.container-card {
    display: flex;
    justify-content: space-around;
    
}

.card {

}

.img-card {
    width: 200px;
    height: 250px;
    margin-top: 50px;
}